/* #building-form-modal{

} */
#building-form-modal h2{
    margin: 0;
    padding: 15px 25px;
    color: white;
    background-color: var(--red);
}

#building-form-modal .padding-wrapper{
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    max-height: calc(min(60vh, 800px) - 59px);
    /* min-height: calc(600px - 59px); */
}

#building-name{
    border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));;
    border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 1px 2px;
    height: 20.86px
}

#building-form-modal input {
    width: 100%;
}

#building-coordinates input {
    border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 1px 2px;
    height: 20.86px;
}

#building-coordinates button {
    background-color: var(--red);
    color: white;
    border: none;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 4px;
}