/* This CSS file styles the header and navigation banner for a website. */
   .header {
    background-color: #ffffff;  /* white */
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 120px; 
    transition: all 0.3s ease;
   }

   .header.collapsed {
    height: 0;
    opacity: 0;
    padding: 0 20px;  
  }
   
   .header.scrolled {
    padding: 10px 20px;
    height: 60px; 
  }

   .header-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  .logo {
    height: 60px;
    margin-right: 20px;
  }

  .header-title {
      font-family: 'Alumni Sans Medium', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 32px;
      letter-spacing: 0.05em;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }

  .profile-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
  }

  .nav-banner {
    background-color: #990000; /* Stony Brook Red */
    display: flex;
    align-items: center;
    position: fixed;
    top: 100px; 
    width: 100%;
    z-index: 999;
    height: 100px; 
    transition: height 0.3s ease;
  }

  .nav-banner.fixed {
    top: 0;
  }

  .nav-banner a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-family: 'Alumni Sans Bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: border 0.2s ease;
    font-size: 20px;
  }

  .nav-banner a:hover {
    background-color: #b31b20; /* Lighter red for hover */
  }

  .profile-icon {
    background-color: white;
    color: #a00;
    font-size: 18px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }