:root{
  --grey: #6C6C6C;
  --gray: #6C6C6C;
  --red: #990000;
  --dark-red: #6B000D;
  --navy-blue: #002244;
  --bright-red: #D52027;
  --royal-blue: #00549A;
  --dark-gray: #4B4B4B;
  --dark-grey: #4B4B4B;
  --turquoise: #1791AD;
  --medium-gray: #828282;
  --medium-grey: #828282;
  --light-gray: #BEBEBE;
  --light-grey: #BEBEBE;
}

/* html,
body {
  margin: 0;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

@font-face {
  font-family: 'Alumni Sans Bold';
  src: url('../fonts/static/AlumniSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Alumni Sans Medium';
  src: url('../fonts/static/AlumniSans-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Medium';
  src: url('../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.no-margin{ margin: 0px }
.flex{ flex: 1 }
.pointer{ cursor: pointer; }
.hbox{ display: flex; }
.vbox{
  display: flex;
  flex-direction: column;
}
.hover-black{ cursor: pointer; }
.hover-black:hover{ color: black; }
.wide{ width: 100% }
.tall{ height: 100% }

