#lot-form-modal .padding-wrapper{
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    max-height: calc(min(60vh, 800px) - 59px);
    /* min-height: calc(600px - 59px); */
}

#lot-form-modal h2 {
    margin: 0;
    padding: 15px 25px;
    color: white;
    background-color: var(--red);
}

.lot-modal-rate-header{
    background-color: var(--red);
    padding-right: 5px;
}

.location-collapsible-name{
    display: flex;
    align-items: center;
}

.lot-point-box:first-child{
    margin-top: 5px;
}

.location-collapsible > span > span{
    height: 22px;
    display: block;
}

.location-collapsible-name span:last-child{
    color: #aaa;
    margin-left: 10px;
    font-size: 14px;
    display: block;
}

.name-uncollapsible,
.location-collapsible,
.capacity-collapsible,
.rates-collapsible,
.single-rate-collapsible,
.other-collapsible {
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: #aaa solid 1px;
}

.rates-collapsible{
    border-bottom: 0;
}

.single-rate-collapsible{
    margin-left: 20px;
    margin-right: 20px;
}
.single-rate-collapsible:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.lot-point-box > *{
    margin-bottom: 5px;
}

.lot-point-box > span:first-child{
    width: 64px;
}

.lot-point-remove{
    height: 18px;
    align-self: center;
    opacity: .66;
    /* margin-bottom: px; */
}

.lot-point-remove:hover{
    cursor: pointer;
    opacity: 1;
}

.capacity-collapsible label:not(:last-child){
    margin-bottom: 3px;
}

.rates-collapsible label{
    font-size: 14px;
}

.disableable-input{
    box-sizing: content-box;
    display: flex;
    border: solid rgb(118, 118, 118) 1px;
    border-radius: 2px;
}

.disableable-input img{
    align-self: center;
    height: calc(21px - 9px);
    opacity: .8;
}

.disableable-input input{
    border: none;
    outline: none;
    padding: 2px 3px;
    height: 19px
}
.disableable-input button{
    display: flex; /* to let the buttonimg align-self */
    border: none;
    border-left: solid #aaa 1px;
    cursor: pointer;
}

.disableable-input button:hover, .disableable-input button:hover > img{
    background-color: #dadada;
    opacity: 1;
}

.disableable-input:has(input:focus){
    outline: 1px black solid;
}

.disableable-input:has(input:disabled){
    background-color: #ddd;
}

.disableable-input input:disabled{
    background-color: #ddd;
}

.field-modified {
    background-color: #fff9e4;
}

.capacity-collapsible input{
    height: 20.86px
}
.capacity-collapsible .field-modified, #lot-name, .location-collapsible input{
    border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));;
    border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 1px 2px;
    height: 20.86px
}
.capacity-collapsible .field-modified:focus{
    padding: 1px 2px;
    outline: 0.666666666px black auto;
    height: 20.86px;
    border: 2px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133));;
}

.lot-form-error{
	font-size: 14px;
	color: var(--bright-red);
}

.edit-lot-btn{
    --btn-color: hsl(134, 61%, 41%);
    --btn-color-hover: hsl(134, 61%, 37%);
    --btn-color-active: hsl(134, 61%, 45%);
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}
.edit-lot-btn:hover{
    background-color: var(--btn-color-hover);
}
.edit-lot-btn:active{
    background-color: var(--btn-color-active);
}

#lot-modal-add-rate{
    background-color: var(--red);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 15px;
    width: 140px;
}

#lot-modal-add-rate:hover, .add-lot-button:hover, .location-collapsible button:hover{
    background-color: #b31b20;
}

.location-collapsible button{
    background-color: var(--red);
    color: white;
    border: none;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 4px;
}

#lot-modal-rate-close{
    filter: invert(1);
}
#lot-modal-rate-close:hover{
    filter: invert(.8);
}

.lot-edit-h2 .hover-black{
    filter: invert(1);
}
.lot-edit-h2 .hover-black:hover{
    filter: invert(.8);
}

.lot-resident-zone-box label{
    width: 107px;
}